@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@import url('db.onlinewebfonts.com/c/d45c595a0219ea91eb5851cf0f8f96d1?family=RF+Krabuler');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@1,900&display=swap');
@import "font-awesome";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}
#order{
    margin-top: 100px;
    height: 60px;
    width: 300px;
    background-color: rgba(228, 228, 228, 0.096);
    color: var(--tg-theme-button-color);
}
#main {
    width: 100%;
    padding: 18px;
    text-align: center;
}
#buy{
    background-color: rgba(228, 228, 228, 0.096);
    color: var(--tg-theme-button-color);
}
h1 {
    color: var(--tg-theme-button-color);
	text-shadow: -1px 1px 1px #575757,
				  1px 1px 1px #575757,
				  1px -1px 0 #575757,
				  -1px -1px 0 #575757;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin-bottom: 30px;
}
h2 {
    font-family: 'Courier';
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

img {
    width: 200px;
    margin: 20px auto;
}

p {
    width: 350px;
    margin: 0 auto;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

button {
    border-radius: 10px;
    margin-top: 50px;
    height: 60px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-color);
    border: 0.5px solid var(--tg-theme-text-color);
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}
.btn {
    border: 0.5px solid var(--tg-theme-text-color);
    color: rgba(221, 221, 221, 0.911);
    background-color: rgba(228, 228, 228, 0.096);
    width: 146px;
    border: none;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color:var(--tg-theme-button-color);
}
#form {
    display: none;
    text-align: center;
}

input {
    width: 300px;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    background-color: rgba(228, 228, 228, 0.096);
    border: 0.5px solid rgba(160, 160, 160, 0.671);
    border-radius: 5px;
}

input:focus {
    border-color: var(--tg-theme-secondary-bg-color);
}

input[type=text] {
    transition: width 0.1s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 72%;
  }